@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,300&display=swap");

:root {
    --primary-color: #FB923C;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0rem 2rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.nav-container {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.nav-container .nav-brand {
    font-weight: bold;
}


